/* ----- Custom properties per les variables ----- */
:root {
    --color-quasi-negre: rgb(43 23 3);
    --color-blanc: rgb(255 255 255);
    --color-gris-molt-clar: rgb(244 244 244);
    --color-vermell: rgb(226 53 42);
    --color-vermell-modificat: rgb(226 53 42 / 0.5);
    --color-gris-fosc: rgb(200 200 200); /* Per al hover del footer */

    --font-sans-serif: 'Verdana', sans-serif;
    --font-serif: 'Georgia', serif;
    --font-quote-weight: 700;
   
}

/* ----- Estil pel blockquote, q, cite i abbr ----- */
blockquote {
    font-family: var(--font-serif);
    font-weight: var(--font-quote-weight);
    border-top: 1px solid var(--color-quasi-negre);
    border-bottom: 1px solid var(--color-quasi-negre);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 20px 0;    
}

q, cite {
    font-family: var(--font-serif);
    font-weight: var(--font-quote-weight);
}

abbr {
    cursor: help;
    text-decoration: underline dotted;
}

/* ----- Estils globals dels tres arxius .html----- */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans-serif);
    background-color: var(--color-gris-molt-clar);
    color: var(--color-quasi-negre);
}

header {
    text-align: center;
    margin: 20px 0 5px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin: 2.5px;
}

nav a {
    text-decoration: none;
    color: var(--color-quasi-negre);
    font-weight: bold;
    transition: color 0.25s ease;
}

nav a:hover {
    color: var(--color-vermell);
}

nav a.active {
  color: var(--color-vermell-modificat);
}

footer {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    background-color: var(--color-quasi-negre);
    color: var(--color-blanc);
    margin-top: 50px;
    padding: 30px 0;
}

footer a {
    color: var(--color-blanc);
    text-decoration: none;
    cursor: pointer;
}

/* Utilitzat com a extra en l'enllaç de la UOC al footer */
footer a:hover { 
   color: var(--color-gris-fosc);
}

.container {
    width: 95%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1;
    margin: 65px 0;
}

.container p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* figcaption de la <img> i <iframe> d'index.html i del <audio> de recursos.html*/
figure figcaption {
    font-size: 0.7rem;
    margin: 0 0 20px 0;
}

/* Estils per als enllaços externs amb icona */
a.link_extern {
    color: var(--color-vermell);
    text-decoration: none;
    transition: color 0.25s ease;
    display: inline-flex;
    align-items: center;
}

a.link_extern:hover {
    color: var(--color-vermell-modificat);
}

/* Afegim la icona d'enllaç extern només als enllaços que comencen per "http" i que no tinguin la classe "no-icon" */
a[href^="http"]:not(.no-icon)::after {
  content: "";
  display: inline-block;
  background-size: 100%;
  width: 15px;
  height: 15px;
  background-image: url("../img/external-link.svg");
  transition: background-image 0.25s ease;
  transform: translateY(-1.5px);
}

/* Canviem la icona en passar el cursor per sobre de l'enllaç */
a[href^="http"]:not(.no-icon):hover::after {
  background-image: url("../img/external-link-modif.svg");
} 

/* ----- Estils específics d'index.html ----- */
.container.article h2 {
    font-size: 2.5rem;
}

.autor {
    text-align: center;
    font-weight: bold;
    color: var(--color-vermell);
    margin-bottom: 2.5px;
}

time {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

p.primera-introduccio {
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 0;
}

p.segona-introduccio {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    text-align: left;
}

/* Encara que utilitzem figure també a recursos.html, allà fem servir una classe personalitzada pel figure de l'audio */
figure {
    margin: 10px 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

/* Encara que utilitzem figcaption també a recursos.html, només al index.html necessitem afegir el margin-top*/
.container.article figure figcaption {
    margin-top: 10px;
}

.video-figure iframe {
    width: 100%;
    max-width: 857px;
    aspect-ratio: 16 / 9; /* Manté la relació d'aspecte original */
    display: block;
    margin: 0 auto;
    border: 0;
}

.blockquote-footer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.jose-heinz {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0;
    margin: 30px 0 0 0;
}

.jose-heinz > img {
    border-radius: 50%;
    display: block;
}

.jose-heinz figcaption {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0;
}

.jose-heinz h3 {
    margin: 0;
    font-size: 1.25rem;
}

.jose-heinz p {
    margin: 0;
    font-size: 0.8rem;
}

/* ----- Estils específics de recursos.html ----- */
.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-quasi-negre);
    padding: 25px;
}

.categories-pare {
    list-style-type: square;
    padding-left: 100px;
}

.categories-pare h2 {
    font-weight: normal;
}

.categories-pare li::marker {
    font-size: 1.5rem; /* Augmenta la mida del marcador square de la llista */
}

.categories-fill li {
    list-style-type: circle;
    font-size: 1.1rem;
    margin-bottom: 13px;
}

.categories-fill a {
    text-decoration: none;
    color: var(--color-vermell);
    transition: color 0.25s ease;
}

.categories-fill a:hover {
    text-decoration: none;
    color: var(--color-vermell-modificat);
}

/* ----- Estils específics de glossari.html ----- */
.container.glossari h2 {
    border-bottom: 1px solid var(--color-quasi-negre);
    font-size: 2.5rem;
}

.container.glossari dl {
    margin-left: 50px;
}

.container.glossari dt {
    font-weight: bolder;
    font-size: 1.25rem;
    margin-top: 30px;
}

.container.glossari dl ul {
    list-style-type: square;
    margin-top: 10px;
    padding-left: 4px;
}

.container.glossari dl ul li {
    margin-bottom: 5px;
}